.bingoCard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3px;
  margin: 0 auto;
  width: min(100vw, 500px);
  aspect-ratio: 1 / 1;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background: #151517;
  font-size: clamp(8px, 2.8vw, 14px);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  line-height: 1.1;
  padding: 2px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.marked {
  background: #4b79e3;
  color: rgb(18, 18, 18);
}

.status {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #4caf50;
}

.free {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.free > * {
  grid-area: 1 / 1 / 2 / 2;
}

.free svg {
  height: 120%;
  width: 120%;
  color: #3a5066;
}
