html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 500px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: rgb(36, 37, 38);
  color: rgb(237, 237, 237);
  padding: 1rem 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background: rgb(18, 103, 199);
}

h1,
h2,
h3 {
  text-align: center;
}

.margin {
  margin: 0 0.5rem;
  text-align: center;
}

button {
  font-family: var(--font-rethinkSans);
  font-size: 16px;
}

input {
  height: 2.5rem;
  max-width: 100%;
  width: 100%;
  padding: 0 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #444;
  background: #2e2f30;
  color: rgb(237, 237, 237);
  font-family: var(--font-rethinkSans);
}
